@use "../../index";

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.buttons{
  @include index.flexbox;
}

.main, .results{
  height: 100%;
}